:root {
    --basic: #9fb13a;


    --background: #FFFFFF;
    --border: rgba(119, 119, 119, 0.4667);
    --text: #000000;
    --text-active: #FFFFFF;
    --text-marker: var(--basic);

    --button-background: var(--basic);

    --background-not-active: #5C5550;
    --text-not-active: #FFFFFF;

    --title-ballun-color: var(--basic);
    --text-ballun: #777777;
    --price-ballun: var(--basic);

    --loader: var(--basic);
    --loader-two: #f3f3f3;
}
