:root {
    --basic: #075BBA;
    --background: #FFFFFF;
    --border: rgba(119, 119, 119, 0.4667);
    --text: #555555;
    --textActive: #FFFFFF;
    --textMarker: #075BBA;

    --backgroundNotActive: #5C5550;
    --textNotActive: #FFFFFF;

    --titleBallunColor: #075BBA;
    --textBallun: #777777;
    --priceBallun: #075BBA;

    --loader: #075BBA;
    --loaderTwo: #f3f3f3;
}
