:root {
    --basic: #00a9ac;
    --background: #FFFFFF;
    --border: rgba(119, 119, 119, 0.4667);
    --text: #000000;
    --textActive: #FFFFFF;
    --textMarker: var(--basic);

    --backgroundNotActive: #5C5550;
    --textNotActive: #FFFFFF;

    --titleBallunColor: var(--basic);
    --textBallun: #777777;
    --priceBallun: var(--basic);

    --loader: var(--basic);
    --loaderTwo: #f3f3f3;
}
