@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.tl-city-select {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #636261 !important;
    background: #fff url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDAuNTk5OTc2TDYgNy43OTk5N0wxMiAwLjU5OTk3NkgwWiIgZmlsbD0iI0U1OEYzRCIvPgo8L3N2Zz4K") no-repeat right/45px 9px !important;
    border: 1px solid #7F7165 !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding: 15px 55px 15px 30px !important;
    width: 100% !important;
    margin-bottom: 15px;
}
.tl-city-select::-ms-expand {
    display: none;
}
.tl-container {
    max-width: 1440px;
    margin: 25px auto 0;
    position: relative;
    display: block;
}

.tl-container h4 {
    margin-bottom: 18px;
}

.bookmarks {
    width: 100%;
    padding: 0!important;
    margin: 0 0 10px 0!important;
    list-style: none !important;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.bookmarks li.active {
    cursor: default;
    background-color: #7F7165;
    color: #FFFFFF;
}

.bookmarks li {
    background-color: #F9F5F1;
    cursor: pointer;
    padding: 15px;
    margin: 0;
    min-height: 26px;
    position: relative;
    z-index: 99;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #7F7165;
}

.bookmarks li:hover {
    background-color: #7F7165;
    color: #FFFFFF;
}

.bookmarks li.hidden {
    display: none;
}

#tl-hotel-select {
    display: none !important;
}

@media (max-width: 710px) {
    .bookmarks {
        grid-template-columns: repeat(2, 1fr);
    }
}

.accordion {
    position: relative;
    border: none;
    background: #7F7165;
    color: #FFFFFF;
    float: right;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    padding: 10px 45px 10px 15px;
    margin-bottom: 10px;
    z-index: 1;
}

.accordion:hover {
    background-color: #9F958C;
}

.accordion::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 7px;
    transition: background 0.5s ease;
    background: rgba(255, 255, 255, 0) url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB0cmFuc2Zvcm09Im1hdHJpeCgxIDAgMCAtMSAwIDI0KSIgZmlsbD0iI0Y5RjVGMSIvPgo8cGF0aCBkPSJNMTEuNDE0MyAxNi44NTA2TDUuNSAxMC44NzIzQzUuMTggMTAuNTUyMyA1LjE4IDEwLjA0MDMgNS41IDkuNjg4MjlMNi4xMDggOS4xNDQyOUM2LjQyOCA4LjgyNDI5IDYuOTQgOC44MjQyOSA3LjI2IDkuMTQ0MjlMMTEuOTkwMyAxMy45Mzg2TDE2LjcyMDYgOS4xNDQyOUMxNy4wNDA2IDguODI0MjkgMTcuNTUyNiA4LjgyNDI5IDE3Ljg3MjYgOS4xNDQyOUwxOC40NDg2IDkuNzIwMjlDMTguNzY4NiAxMC4wNDAzIDE4Ljc2ODYgMTAuNTUyMyAxOC40NDg2IDEwLjkwNDNMMTIuNTY2MyAxNi44ODI2QzEyLjI0NjMgMTcuMTcwNiAxMS43MzQzIDE3LjE3MDYgMTEuNDE0MyAxNi44NTA2WiIgZmlsbD0iIzdGNzE2NSIvPgo8L3N2Zz4K") no-repeat ;
}

.accordion.active::before {
    background: rgba(255, 255, 255, 0) url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNCAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDAuMjc1MzkxKSIgZmlsbD0iI0Y5RjVGMSIvPgo8cGF0aCBkPSJNMTEuNDE0MyA3LjQyNDgxTDUuNSAxMy40MDMxQzUuMTggMTMuNzIzMSA1LjE4IDE0LjIzNTEgNS41IDE0LjU4NzFMNi4xMDggMTUuMTMxMUM2LjQyOCAxNS40NTExIDYuOTQgMTUuNDUxMSA3LjI2IDE1LjEzMTFMMTEuOTkwMyAxMC4zMzY4TDE2LjcyMDYgMTUuMTMxMUMxNy4wNDA2IDE1LjQ1MTEgMTcuNTUyNiAxNS40NTExIDE3Ljg3MjYgMTUuMTMxMUwxOC40NDg2IDE0LjU1NTFDMTguNzY4NiAxNC4yMzUxIDE4Ljc2ODYgMTMuNzIzMSAxOC40NDg2IDEzLjM3MTFMMTIuNTY2MyA3LjM5MjgxQzEyLjI0NjMgNy4xMDQ4MSAxMS43MzQzIDcuMTA0ODEgMTEuNDE0MyA3LjQyNDgxWiIgZmlsbD0iIzdGNzE2NSIvPgo8L3N2Zz4K") no-repeat ;
}

.map__wrapper {
    position: relative;
    margin-bottom: 10px;
}


.map__mobile-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    line-height: normal;
    z-index: 1;

}

.map {
    position: relative;
    display: none;
    overflow: hidden;
    transition: height 0.5s ease;

    height: 0;
    /*height: 500px;*/
    max-height: 500px;
    width: 100%;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.map:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.map-show {
    height: 500px;
    display: block;
}

@media (min-width: 420px) {
    .map__mobile-text{
        display: none;
    }
}
/*@media (max-width: 420px) {*/
/*    .map, .map-show  {*/
/*        height: 350px;*/
/*    }*/
/*}*/


[class*="hint"] {
    box-shadow: none !important;
}

[class*="with-content"] {
    width: auto!important;
}


[class*="hint__text"] {
    border-radius: 15px;
    border: 1px solid rgba(127, 113, 101, 0.45);
    background: rgba(255, 255, 255, 0.75) !important;
    padding: 0 10px 0 5px!important;
}



.map__hint {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(127, 113, 101, 0.45) !important;
    background: rgba(255, 255, 255, 0.75) !important;
    padding: 2px 10px 3px 5px!important;
    box-sizing: content-box;

    /*height: 24px;*/
    color: #000000;
    text-align: center;

    width: 170px;
}



.map__hint.active {
    background: #5a9b3b !important;
}


.map__hint.active-check .map__hint-price {
    color: rgba(0, 0, 0, 0.5);
}

.map__hint-icon {
    min-width: 24px;
    height: 24px;
    margin-right: 5px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJDMiAxNy41MiA2LjQ4IDIyIDEyIDIyQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyQzIyIDYuNDggMTcuNTIgMiAxMiAyWk0xMiAyMEM3LjU4IDIwIDQgMTYuNDIgNCAxMkM0IDcuNTggNy41OCA0IDEyIDRDMTYuNDIgNCAyMCA3LjU4IDIwIDEyQzIwIDE2LjQyIDE2LjQyIDIwIDEyIDIwWiIgZmlsbD0iIzVhOWIzYiIvPg0KICAgIDxwYXRoIGQ9Ik0xMiAxN0MxNC43NjE0IDE3IDE3IDE0Ljc2MTQgMTcgMTJDMTcgOS4yMzg1OCAxNC43NjE0IDcgMTIgN0M5LjIzODU4IDcgNyA5LjIzODU4IDcgMTJDNyAxNC43NjE0IDkuMjM4NTggMTcgMTIgMTdaIiBmaWxsPSIjNWE5YjNiIi8+DQo8L3N2Zz4NCg==");
    background-repeat: no-repeat;
    background-size: contain;
}


.map__hint.active .map__hint-icon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDBDNC40OCAwIDAgNC40OCAwIDEwQzAgMTUuNTIgNC40OCAyMCAxMCAyMEMxNS41MiAyMCAyMCAxNS41MiAyMCAxMEMyMCA0LjQ4IDE1LjUyIDAgMTAgMFpNMTAgMThDNS41OCAxOCAyIDE0LjQyIDIgMTBDMiA1LjU4IDUuNTggMiAxMCAyQzE0LjQyIDIgMTggNS41OCAxOCAxMEMxOCAxNC40MiAxNC40MiAxOCAxMCAxOFoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0xMCAxNUMxMi43NjE0IDE1IDE1IDEyLjc2MTQgMTUgMTBDMTUgNy4yMzg1OCAxMi43NjE0IDUgMTAgNUM3LjIzODU4IDUgNSA3LjIzODU4IDUgMTBDNSAxMi43NjE0IDcuMjM4NTggMTUgMTAgMTVaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
}

.map__hint.no-rooms .map__hint-icon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDBDNC40OCAwIDAgNC40OCAwIDEwQzAgMTUuNTIgNC40OCAyMCAxMCAyMEMxNS41MiAyMCAyMCAxNS41MiAyMCAxMEMyMCA0LjQ4IDE1LjUyIDAgMTAgMFpNMTAgMThDNS41OCAxOCAyIDE0LjQyIDIgMTBDMiA1LjU4IDUuNTggMiAxMCAyQzE0LjQyIDIgMTggNS41OCAxOCAxMEMxOCAxNC40MiAxNC40MiAxOCAxMCAxOFoiIGZpbGw9IiM3RjcxNjUiLz4KPHBhdGggZD0iTTEwIDE1QzEyLjc2MTQgMTUgMTUgMTIuNzYxNCAxNSAxMEMxNSA3LjIzODU4IDEyLjc2MTQgNSAxMCA1QzcuMjM4NTggNSA1IDcuMjM4NTggNSAxMEM1IDEyLjc2MTQgNy4yMzg1OCAxNSAxMCAxNVoiIGZpbGw9IiM3RjcxNjUiLz4KPC9zdmc+Cg==");
}

.map__hint.no-rooms.active {
    background: #7F7165 !important;
}

.map__hint.no-rooms.active .map__hint-icon {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDJDNi40OCAyIDIgNi40OCAyIDEyQzIgMTcuNTIgNi40OCAyMiAxMiAyMkMxNy41MiAyMiAyMiAxNy41MiAyMiAxMkMyMiA2LjQ4IDE3LjUyIDIgMTIgMlpNMTIgMjBDNy41OCAyMCA0IDE2LjQyIDQgMTJDNCA3LjU4IDcuNTggNCAxMiA0QzE2LjQyIDQgMjAgNy41OCAyMCAxMkMyMCAxNi40MiAxNi40MiAyMCAxMiAyMFoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0xMiAxN0MxNC43NjE0IDE3IDE3IDE0Ljc2MTQgMTcgMTJDMTcgOS4yMzg1OCAxNC43NjE0IDcgMTIgN0M5LjIzODU4IDcgNyA5LjIzODU4IDcgMTJDNyAxNC43NjE0IDkuMjM4NTggMTcgMTIgMTdaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
}

.map__hint.active .map__hint-price {
    color: #FFFFFF;
}

.map__hint:hover .map__hint-price {
    color: #000000;
}

.map__hint-data {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.hint-block:not(:last-child) {
    margin-bottom: 5px;
}


.map__hint-price {
    color: #000;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
}

.map__hint-price .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #7f7165;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

[class*="balloon__content"] ymaps{
    width: 280px !important;
}

.map__balloon {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.map__balloon-room {
    display: flex;
    justify-content: space-between;

    cursor: pointer;
}

.map__balloon-room:hover .map__balloon-room-name {
    color: #C87A31;
    text-decoration-color: #ff7d00;
    cursor: pointer;
}

.map__balloon-address {
    color: #C87A31;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.map__balloon-room-name {
    margin-right: 5px;
    margin-bottom: 10px;
    text-decoration-line: underline;
    text-decoration-color: #5a9b3b;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
    /*border-bottom: 1px dashed #5a9b3b;*/
}

.map__balloon-room-status {
    color: #5a9b3b;
    font-weight: 600;
    white-space: nowrap;
}

.map__balloon-room-status.false {
    color: #C87A31;
}

.map__cluster {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border: 2px solid #E6750B;
    border-radius: 50%;

}
.map__cluster-in {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #E6750B;
    color: #FFF;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
