:root {
    --basic: #5a9b3b;
    --background: #FFFFFF;
    --border: rgba(119, 119, 119, 0.4667);
    --textMarker: #FFFFFF;

    --backgroundNotActive: #636763;
    --textNotActive: #FFFFFF;

    --titleBallunColor: var(--basic);
    --textBallun: #000000;

    --loader: var(--backgroundNotActive);
    --loaderTwo: #f3f3f3;
}
